<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="return_amount_of_rendered_tiles" type="MageSuite\ProductTileWarmup\Plugin\Catalog\Block\Product\ListProduct\ReturnAmountOfRenderedTiles" />
    </type>
</config>
